@inherits SolicitudesPropiasBase

<h1>Solicitudes: @InfoUsuario?.Nombre @InfoUsuario?.Apellido1 @InfoUsuario?.Apellido2 </h1>

<RadzenButton Icon="refresh" 
              Click="@LoadData" 
              Text="Cargar Solicitudes" 
              ButtonStyle="ButtonStyle.Primary" style="margin-bottom: 10px" />

<RadzenButton Icon="add_circle_outline" 
              Click="@InsertRow" 
              Text="Añadir nueva Solicitud" 
              ButtonStyle="ButtonStyle.Secondary" style="margin-bottom: 10px" />


<RadzenDataGrid AllowColumnReorder="true" 
                @ref="ComponentePrincipal" 
                AllowColumnPicking="true"
                AllowFiltering="true" 
                AllowColumnResize="true" 
                FilterMode="FilterMode.Advanced" 
                PageSize="5" AllowPaging="true" 
                AllowSorting="true" 
                Data=@CalendarioVacacionesUsuario
                TItem="CalendarioVacacionesCompleto" 
                ColumnWidth="160px" 
                LogicalFilterOperator="LogicalFilterOperator.Or">
    <Columns>

        @*<RadzenDataGridColumn TItem="CalendarioVacacionesCompleto" Property="IdTecnico" Title="IdUsuario" />*@

        <RadzenDataGridColumn TItem="CalendarioVacacionesCompleto" Property="FechaCalendario" Title="Fecha Dia">
            <Template Context="order">
                @order.FechaCalendario.ToString("dd-MM-yyyy")
            </Template>
            <EditTemplate Context="order">
                <RadzenDatePicker @bind-Value="order.FechaCalendario" Style="width:100%" MouseEnter="RecoverAppState"/>
            </EditTemplate>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="CalendarioVacacionesCompleto" Property="TipoDiaCalendario" Title="Tipo Día">
               <EditTemplate Context="order">
                    <RadzenDropDown @bind-Value="order.TipoDiaCalendario" Data="@TipoDiaCalendarioVaciones.Where(X=>X.Descripcion!="Laborable").Select(X=> X.Descripcion)" TextProperty="TipoDiaCalendario" ValueProperty="TipoDiaCalendario" Style="width:100%; display: block;" />
                </EditTemplate>
         </RadzenDataGridColumn>




        <RadzenDataGridColumn TItem="CalendarioVacacionesCompleto" Property="Estado" Title="Estado Petición" />

        <RadzenDataGridColumn TItem="CalendarioVacacionesCompleto" Pickable="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="120px">
            <Template Context="NuevoCalendarioVacaciones">
                
                <ErrorBoundary @ref="ErrorBoundaryBorradosModificaciones">
                    <ChildContent>
                        <RadzenButton Icon="edit"   ButtonStyle="ButtonStyle.Light"  Class="m-1" 
                        Click="@(args => EditRow(NuevoCalendarioVacaciones))" @onclick:stopPropagation="true" />
                         <RadzenButton Icon="delete" ButtonStyle="ButtonStyle.Danger" Class="m-1" 
                         Click="@(args => DeleteRow(NuevoCalendarioVacaciones))" @onclick:stopPropagation="true" />
                    </ChildContent>
                    <ErrorContent> <RadzenButton Icon="report" ButtonStyle="ButtonStyle.Danger"  Click="RecoverAppState" Text="No se pudo realizar esta operacion" /> </ErrorContent>
                </ErrorBoundary> 
            </Template>

            <EditTemplate Context="order">
                
                <ErrorBoundary @ref="ErrorBoundaryInsercionesNomodificaciones">
                    <ChildContent>
                        <RadzenButton Icon="check" ButtonStyle="ButtonStyle.Primary" Class="m-1" Click="@((args) => SaveRow(order))"/>
                        <RadzenButton Icon="close" ButtonStyle="ButtonStyle.Light" Class="m-1" Click="@((args) => CancelEdit(order))"/>
                    </ChildContent>
                    <ErrorContent> <RadzenButton Icon="report" ButtonStyle="ButtonStyle.Danger" Click="RecoverAppState" Text="No se pudo insertar"/>  </ErrorContent>

                </ErrorBoundary>
            </EditTemplate>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>
