@using BlazorApp2.Pages.Gestion.CalendarioEquipo;
@inject Radzen.DialogService DialogService
@inject API _api
    <table>
    @*Dias de la semana*@
    <tr>
        @foreach(var diaSemana in PublicVariables.WeekDays.Values)
        { 
        <th class="weekdays"> @(diaSemana)  </th>
        }
    </tr>


    @*primera semana*@
    <tr>
        @{
            int desplazamientoPrimeraSemana= PublicVariables.WeekDays.First(X => datosMes.First().Date.DayOfWeek == X.Value).Key-1;
            int i = 0;
            int totalDias = 0;
            //Desplazamiento en celdas vacias
            while (i < desplazamientoPrimeraSemana){
                <th></th>
                i++;
            }
            //Resto de dias
            while (i < 7){
                DatoDiaCalendarioEquipo variable = datosMes.ElementAt(totalDias);

                String color;
                Func<System.Drawing.Color,String> getHex= (c) =>  "#" + c.R.ToString("X2") + c.G.ToString("X2") + c.B.ToString("X2");
                if (variable.usuariosDeVacaciones == 0) color = System.Drawing.Color.LimeGreen.Name;
                else {

                    color = variable.ColorSeleccion;
                }
                 
                

                <th> 
                
                    
                        <button class="@variable.TipoDia" style="background-color:@color" disabled=@(variable.TipoDia=="Disabled")
                        @onclick="@(() =>ShowInlineDialog(variable))" 
                        @onmouseover="@(() =>OnHover.InvokeAsync(variable))">@datosMes.ElementAt(totalDias).Date.Day </button>   
                    

                </th>         

                
                i++;
                totalDias++;
            }
        }
    </tr>
    @*resto semanas*@
        @{
            while(totalDias < datosMes.Count){
               <tr>
                @{
                    int semana = 0;

                    while (semana < 7){
                        semana++;

                        if (totalDias < datosMes.Count){
                            DatoDiaCalendarioEquipo variable = datosMes.ElementAt(totalDias);
                            String color;
                            Func<System.Drawing.Color,String> getHex= (c) =>  "#" + c.R.ToString("X2") + c.G.ToString("X2") + c.B.ToString("X2");
                            if (variable.usuariosDeVacaciones == 0) color = System.Drawing.Color.LimeGreen.Name;
                            else {
                                color = variable.ColorSeleccion;
                                //color = getHex(variable.ColorSeleccion);
                            }


                                <th>
                                   
                                    <button class="@variable.TipoDia" style="background-color:@color" disabled=@(variable.TipoDia=="Disabled")
                                    @onclick="@(() =>ShowInlineDialog(variable))" 
                                    @onmouseover="@(() =>OnHover.InvokeAsync(variable))">@datosMes.ElementAt(totalDias).Date.Day </button>
                                    
                                </th>
                             }  
                          totalDias++;
                        } 
                    }
               </tr>
            }
        }
</table>


@*
    Código en este clase sin separar por el html para que se vea correctamente.
*@
@code {
    [Parameter]
    public DatosDias datosMes { get; set; }
    [Parameter]
    public int Mes { get; set; }

    [Parameter]
    public EventCallback<DatoDiaCalendarioEquipo> OnHover { get; set; }

    [Parameter]
    public ProyectoResponse proyecto{ get; set; }

    async Task ShowInlineDialog(DatoDiaCalendarioEquipo calendario){
        List<UsuarioResponse> dialogData = new List<UsuarioResponse>();
        IEnumerable<int> usuariosProyecto =await _api.GetUsuariosProyectoAsync(this.proyecto.IdProyecto);
        foreach (var user in usuariosProyecto) {
            var usuario = await _api.GetUsuarioByIdAsync(user);
            var vacaciones =  await _api.GetUsuarioCalendarioVacacionesAsync(usuario.IdTecnico);
            if (vacaciones.Any(X => X.FechaCalendario == calendario.Date)) {
                dialogData.Add(usuario);
            }
        }

        var result = await DialogService.OpenAsync($"Dia {calendario.Date.ToShortDateString()}", ds =>
        @<div>
            <div class="row my-4">
                <div class="col-md-12">
                    <RadzenCard>
                        <h3 class="h5">
                            <RadzenBadge BadgeStyle="BadgeStyle.Secondary" Text=" Faltas Previstas"/>
                           
                        </h3>
                        <RadzenDataGrid AllowFiltering="true" AllowPaging="true" AllowSorting="true" 
                                    Data=dialogData TItem=UsuarioResponse ColumnWidth="200px" Class="mt-3">
                            <Columns>
                                <RadzenDataGridColumn TItem=UsuarioResponse Property="IdTecnico" Title="IdTecnico" />
                                <RadzenDataGridColumn TItem=UsuarioResponse Property="Nombre" Title="Nombre" />
                                <RadzenDataGridColumn TItem=UsuarioResponse Property="Apellido1" Title="Apellido1" />
                                <RadzenDataGridColumn TItem=UsuarioResponse Property="Apellido2" Title="Apellido2" />
                                
                            </Columns>
                        </RadzenDataGrid>
                    </RadzenCard>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <RadzenButton Text="Ok" Click="() => ds.Close(true)"  Style="width: 80px;" Class="mr-1 float-right" />

                    
                </div>
            </div>
        </div>, new Radzen.DialogOptions() { CloseDialogOnOverlayClick = true });
    
    }


}