@using BlazorApp2.Shared.Components.Vacaciones;

    <table>
    @*Dias de la semana*@


    <tr>
        @foreach(var diaSemana in PublicVariables.WeekDays.Values)
        { 
        <th class="weekdays"> @(diaSemana)  </th>
        }
    </tr>


    @*primera semana*@
    <tr>
        @{
            int desplazamientoPrimeraSemana= PublicVariables.WeekDays.First(X => datosMes.First().Date.DayOfWeek == X.Value).Key-1;
            int i = 0;
            int totalDias = 0;
            //Desplazamiento en celdas vacias
            while (i < desplazamientoPrimeraSemana){
                <th></th>
                i++;
            }
            //Resto de dias
            while (i < 7){
                DatoDia variable = datosMes.ElementAt(totalDias);


                <th>
                                @if (variable.Estado == "Aprobadas") {
                                    <button class="Aprobadas" disabled>@datosMes.ElementAt(totalDias).Date.Day</button>
                                }
                                else {
                                    if (variable.Date.DayOfWeek == DayOfWeek.Saturday || variable.Date.DayOfWeek == DayOfWeek.Sunday) {

                                        <button class="Disabled">@datosMes.ElementAt(totalDias).Date.Day </button>
                                    }
                                    else{
                                        
                                        <button class="Laborable">@datosMes.ElementAt(totalDias).Date.Day </button>
                                        
                                    }

                               }
                  </th>       

                
                i++;
                totalDias++;
            }
        }
    </tr>
    @*resto semanas*@
        @{
            while(totalDias < datosMes.Count){
               <tr>
                    @{
                        int semana = 0;
                
                        while (semana < 7){
                            semana++;
                    
                            if (totalDias < datosMes.Count){
                                DatoDia variable = datosMes.ElementAt(totalDias);
                                <th>
                                    @if (variable.Estado == "Aprobadas") {
                                    <button class="Aprobadas" disabled>@datosMes.ElementAt(totalDias).Date.Day</button>
                                }
                                else {
                                    if (variable.Date.DayOfWeek == DayOfWeek.Saturday || variable.Date.DayOfWeek == DayOfWeek.Sunday) {

                                        <button class="Disabled">@datosMes.ElementAt(totalDias).Date.Day </button>
                                    }
                                    else{
                                        
                                        <button class="Laborable">@datosMes.ElementAt(totalDias).Date.Day </button>
                                        
                                    }

                                    }
                                </th>
                             }  
                          totalDias++;
                        } 
                    }
               </tr>
            }
        }
</table>


@code {
    [Parameter]
    public DatosDias datosMes { get; set; }
    [Parameter]
    public int Mes { get; set; }
   
}